<h1>Dashboard#bookings_index</h1>
<p>Find me in app/views/dashboard/bookings_index.html.erb</p>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
    <!-- Specify breaking points for col -->
      <div class="col-xs-12">

      </div>
    <% end %>
  </div>
</div>
