  <div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.5) 0%, rgba(50,50,50,0.5) 80%), url('https://images.unsplash.com/photo-1527822618093-743f3e57977c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c57affb1dc183087e655d0d22203354f&auto=format&fit=crop&w=1050&q=80');">

    <div class="white-box">
      <div class="form-header">

      <h2>EasyCourse</h2>
      <h4>Sign Up</h4>
    </div>
    <div class="form">
     <%= render "sign_up_form"  %>
    </div>
  </div>
</div>
