.details{
  height: 400px;
  background-color: white;
  color: black;
  position: relative;
  border-color: rgba(20,20,20,1);
  padding: 15px;
  margin: 50px 20px;
}

.user-details{
height: 500px;
}

.course-pic{
  margin-top: 20px;
}

.head-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 40px;
}
.content{
  padding: 0px 50px;
}



