.information-box{
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-around;
}

.general-information{
  padding-left: 0px;
  padding-bottom: 3%;
}

.teacher-description{
  width: 50%;
}
.center{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.course-information {
  background-color: white;
  width: 100%;
  padding: 8px 8px 8px 8px;
}
