<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.5) 0%, rgba(50,50,50,0.5) 80%), url('https://images.unsplash.com/photo-1517637633369-e4cc28755e01?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3dee4914d3c1248978f29fa6462cb755&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>EasyCourse</h1>
    <p>Learn the ability that you ever wanted to learn</p>

    <form class="location-search">
      <input type="text" name="location" placeholder="Search Your Location ..." class="search-text location-autocomplete">
    </form>

    <%= link_to "Search", courses_path, class: "btn btn-primary btn-lg" %>

  </div>
</div>
