<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i> <%= image_tag "instagram.png"  %></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i><%= image_tag "twitter (1).png"  %></a>
  </div>
  <div class="footer-copyright">
   Easycourse
  </div>
</div>
