<form action="/courses" class="form-inline">

      <div class="padding-right-10 padding-left-10">
        <div class="form-spaced">
          <div class="form-grouped">
            <label for="location">Location:</label>
            <input type="text" class="location-autocomplete form-control" name="location">
          </div>

          <div class="form-grouped">
            <label for="start_time">Start time:</label>
            <input type="datetime-local" class="form-control" name="start_time">
          </div>

               <div class="form-grouped">
            <label for="end_time">End time:</label>
           <input type="datetime-local" class="form-control" name="end_time">
               </div>

          <div class="form-grouped">
            <label for="category">Category:</label>
            <select class="form-control" name="category">
              <option value="tech">Tech</option>
              <option value="sport">Sport</option>
              <option value="music">Music</option>
              <option value="language">Language</option>
              <option value="arts">Arts</option>
              <option value="food">Food</option>
              <option value="relaxation">Relaxation</option>
              <option value="career">Career</option>
              <option value="beauty">Beauty</option>
            </select>
          </div>
        </div>
      </div>

    <div class="slidecontainer padding-right-10 padding-left-10 form-grouped">
    <label class="slider-output" for="max-price">Maximum Price: </label>
      <input name="max-price" type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>

  <input type="submit" class="btn btn-primary" value="Filter">

</form>
