<form action="/courses" class="form-inline">
  <label for="location">Location:</label>
  <input type="text" class="location-autocomplete form-control" name="location">
  <label for="start_time">Start time:</label>
  <input type="datetime-local" class="form-control" name="start_time">
  <label for="end_time">End time:</label>
  <input type="datetime-local" class="form-control" name="end_time">
  <label for="category">Category:</label>
  <select class="form-control" name="category">
    <option value="tech">Tech</option>
    <option value="sport">Sport</option>
    <option value="music">Music</option>
    <option value="language">Language</option>
    <option value="arts">Arts</option>
    <option value="food">Food</option>
    <option value="relaxation">Relaxation</option>
    <option value="career">Career</option>
    <option value="beauty">Beauty</option>
  </select>
  <label class="slider-output" for="max-price">Maximum Price: </label>
  <div class="slidecontainer">
    <input name="max-price" type="range" min="1" max="100" value="50" class="slider" id="myRange">
  </div>
  <input type="submit" class="btn btn-primary">
  <!-- <input id="ex1" data-slider-id='ex1Slider' type="number" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="35"/> -->
</form>
