<div class=back>
<div  class=head>
    <h1>How it Works</h1>
  </div>
  <div class="space-maker">
  </div>

<div class="step1">
  <div class="main1">
    <div class="big-num1 ">
      <p>1</p>
    </div>

    <div  >
      <img class="icon-box" src="http://res.cloudinary.com/djjs4pnpf/image/upload/v1529055035/adult-beach-enjoyment-319930.jpg">
    </div>
  </div>

  <div class="step-desc-body">
    <h3 class="step-desc-title" > Find what you want to learn</h3>
    <p><br>
       <div class="middle">
       SEARCH
     </div>
      <div class="last">
      <strong>
      Search which class you want to take and you will find it now so easily that you are looking for your life.</strong>
    </p>
  </div>
  </div>
</div>
<div class="space-maker">
  </div>






<div class="step2">
  <div class="main2 main">
  <div> <img class="icon-box2" src="http://res.cloudinary.com/djjs4pnpf/image/upload/v1529055034/agenda-appointment-business-1020323.jpg">

  </div>

  <div
    class="big-num2">
     <p>2</p>
</div>
 </div>

  <div class="step-desc-body">
    <h3 class="step-desc-title"> Choose the date and the time of the course which one you want.</h3>
      <p><br>
        <div class="middle">
        BOOK
        </p>
      </div>
        <div class="last2">
        <strong>
       Choose the date and the time of the course which one you want.</strong>

    </div>
    </div>
 </div>
 <div class="space-maker"></div>
</div>





  <div class="step3 ">
    <div class="main3 main">
    <div class="big-num3">
      <p>3</p>
    </div>

    <div class="icon-box">
      <img class="icon-box3" src="http://res.cloudinary.com/djjs4pnpf/image/upload/v1529055034/action-adventure-challenge-449609.jpg">
    </div>
   </div>

      <div class="step-desc-body">
      <h3 class="step-desc-title"> Book your class or if you want change your booked classes.</h3>
      <div class="middle">
        READY FOR THE CLASS!!!
      </div>
        <p><br>
            <div class="last3">
          <strong>
          See your booked classes and hours.</strong>
        </p>
      </div>
      </div>
  </div>
</div>
<div class="space-maker">
  </div>

