
<%= render "/shared/banner_landing" %>

<div style="margin-left: 5%; margin-right: 5%;">
  <h1 style="padding-left: 35px; margin-top: 0px;">Be inspired</h1>
  <%= render "/shared/cards_index" %>
</div>
