  <div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.5) 0%, rgba(50,50,50,0.5) 80%), url('https://images.unsplash.com/photo-1464162770807-4d17de4a1c52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cb19736f5f087d5c05d11b51380193d&auto=format&fit=crop&w=1950&q=80');">

    <div class="white-box">
      <div class="form-header">

      <h2>EasyCourse</h2>
      <h4>Log In</h4>
    </div>
    <div class="form">
     <%= render "log_in_form"  %>
    </div>
  </div>
</div>
