<h1>all courses:</h1>
<ul style="padding: 0px 20px 0px 20px;">
    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-spacing"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path course.last.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= link_to course.name, course_path(course) %></h2>
            <p>Some more shit here please</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
</ul>




