<h1>See your results:</h1>
<%= render "shared/form_query" %>
<%= render "shared/cards_index" %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>



