// body {
//   min-height: calc(100vh - 70px - 62px);
// }

.row {
  margin-bottom: 50px;
  padding-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

img {
  border-radius: 5px;
  opacity: 1 !important;
}

.app-container {
  min-height: calc(100vh-70px);
  // margin-top: 5%;
}
